<section>
  <div class="row">
    <div class="col-md-2">
      <img class="img-responsive thumbnail" src="<%= @character.thumbnail %>" width="128" height="128">
    </div>
    <div class="col-md-7">
      <b>Nome:</b> <%= @character.name %><br />
      <b> Descrição: </b> <%= @character.description.html_safe %>
    </div>
  </div>
</section>


<h2>Fascículos</h2>
<hr />

<section>
  <% @stories.each do |story| %>
  <div class="row">
    <div class="col-md-2">
      <img class="img-responsive thumbnail" src="<%= story.object[:thumbnail] %>" width="128" height="128">
    </div>
    <div class="col-md-7">
      <b>Nome: <%= story.object[:name] %></b> <br />
      <b> Descrição: <%= story.object[:description] %></b> 
    </div>
  </div>
  <% end %>
</section>
